@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-items {
    list-style: none;
    display: flex;
}

.nav {
    display: flex;
    justify-content: space-between;
}
.nav-items > li {
    padding: 10px;
}
